#if $forward_url and $forward_text
<div id="topnext" style="float:right"><a href="$forward_url">$forward_text</a></div>
#end if
#if $back_url and $back_text
<div id="topback"><a href="$back_url">&laquo;$back_text</a><br><br></div>
#end if
#for $event in $events
#if $event.calendar_title not in ("Stanford Humanities Center Events", "Co-sponsored Events Held at the Humanities Center", "Test SHC Calendar", "Test Workshop Calendar")
<span style="font-size:11px;">$event.calendar_title.upper()<br></span>
<a style="font-size:14px; font-weight:bold;" href="../../$event.uri()">$event.event_title</a>
<span style="font-size:13px;"><br>
#if $event.is_all_day
$event.start_time.strftime("%A %B %d, %Y")
#else
$event.start_time.strftime("%A %B %d, %Y | %I:%M")
#if $event.start_time.strftime("%p") != $event.end_time.strftime("%p")
$event.start_time.strftime("%p")
#end if
$event.end_time.strftime("-%I:%M %p") | $event.location<br><brstyle="clear:both"/>
<hr><br></span>
#end if
#end if
#end for
#if $forward_url and $forward_text
<div id="bottomnext" style="float:right"><a href="$forward_url">$forward_text</a></div>
#end if
#if $back_url and $back_text
<div id="bottomback"><a href="$back_url">&laquo;$back_text</a><br><br></div>
#end if
