#if $minical_uri
<iframe id="minical" name=target src="$minical_uri" width="100%" height="220" frameborder="0" scrolling="auto"> </iframe>
#end if
</div></div><div id='stacks_out_29584_page102' class='stacks_out'><div id='stacks_in_29584_page102' class='stacks_in'><span style="color:#000000;"><hr><br /></span><span style="color:#000000;"><a href="../../events/calendar/" rel="self" title="Calendar">Main Event Calendar</a></span><span style="color:#000000;font-weight:bold; "><br /><br />Workshop Calendars:</span><span style="color:#70694E;"><br /></span><br /><br />
#for name, uri in sorted($calendar_urls)
#if $name != "Stanford Humanities Center Events" and $name != "Co-sponsored Events Held at the Humanities Center" and $name != "Test SHC Calendar" and $name != "Test Workshop Calendar" and $name != "Events Calendar" and $name != "Workshop Calendar"
<a href="../../$uri">$name</a><br><br>
#end if
#end for
